/*-- scss:functions --*/

/*-- scss:defaults --*/

/*-- scss:rules --*/

.sidebar-navigation .quarto-navigation-tool {
  font-size: 1.1em;
}

.sidebar-logo {
  max-width: 70%;
  padding-bottom: 1rem !important;
}

.sidebar-divider {
  margin-top: .5em !important;
  margin-bottom: .5em !important;
  border-top: 1px solid lightgray;
  margin-left: -20px !important;
  margin-right: -20px !important;
}

.caption-center figcaption {
  text-align: center;
}

.breadcrumb-item+.breadcrumb-item::before {
  content: "\00203A";
}

ul.simple-listing {
  list-style-type: none;
  padding-left: 0;
}